@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://unpkg.com/nes.css@latest/css/nes.min.css');

*{
  padding: 0;
  margin: 0;
}

:root {
  --headings-font: 'Russo One', sans-serif;
  --secondary-font: 'Press Start 2P', cursive;
  --headings-font-size: 15vw;
  color: #fff;
}

body {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  background-color: black;
}


h1 {
  
  top:0;
  left: 0;
  z-index: 100;
  border: 2px solid black;
  /* background-color: antiquewhite; */
}


#main-window {

  z-index: -100;
  border: 2px solid black;
  background-image: url("./assets/space.gif");
  background-repeat:repeat;
  position:relative;
  /* the width and height must be fixed! Use transform: scale() on the body to change size of all elements */
  top:0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

#player-object{
  position: absolute;

}

/* Button Component */
.upperCase {
  text-transform: uppercase;
}





