@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://unpkg.com/nes.css@latest/css/nes.min.css");

#hud-footer {
  opacity: 40%;
  position: relative;
  top:800px;
  left: 0px;
}
#hud-footer:hover {
  opacity: 100%;
  position: relative;
  top:800px;
  left: 0px;
}

html {
  background: url(./assets/space.gif) repeat center center fixed;
}

body {
overflow: scroll;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.logo {
  font-size: 10vw;
  margin-top: 135px;
  text-align: center;
}

#game-window {
  background-image: url("./assets/space.gif");
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: top left;
  /* the width and height must be fixed! Use transform: scale() on the body to change size of all elements */
  width: 1920px;
  height: 980px;
}

#black-bar {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#start-display {
  z-index: 1;
  position: absolute;
  font-size: 50px;
  text-align: center;
  top: 206px; 
  left: 764px;
  color: #ffff;
  transform: scale(1.5) perspective(200px) rotateX(45deg);
  animation: zoomIn .5s;  
}
#game-over {
  z-index: 1;
  position: absolute;
  font-size: 100px;
  text-align: center;
  top: 206px;
  left: 495px;
  color: #ffff;
  transform: scale(1) perspective(200px) rotateX(45deg);
  animation: zoomIn 0.6s;
}
#ufo-object {
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 1920px;
}
#player-object {
  z-index: -1;
  position: absolute;
}
#bonus-element {
  opacity: 0%;
  z-index: 0;
  left: 350px;
  top: 20px;
  color: greenyellow;
  position: absolute;
  animation: fadeOutUp 2s;
}
#no-bonus-element {
  opacity: 0%;
  z-index: 0;
  left: 650px;
  top: 20px;
  color: rgb(255, 0, 0);
  position: absolute;
  animation: fadeOutUp 2s;
}
.fire {
  background-image: url("./assets/img/fire.gif");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#bullet-object {
  z-index: -1;
  position: absolute;
}

#asteroid-object {
  z-index: -1;
  position: absolute;
}

#asteroid-shadow {
  z-index: -1;
  position: absolute;
}
/* Button Component */
.upperCase {
  text-transform: uppercase;
}

.Mui-focused {
  color: white !important;
}

@keyframes zoomIn {
  from {
    transform: scale(0) perspective(10000px) rotateX(45deg);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 100%;
    top: 60px
  }
  
}
/* Media Queries */
@media (max-width: 908px) {
  body {
    overflow: visible;
  }
  .logo h1 {
    margin-top: 75px;
  }
}