*{
  padding: 0;
  margin: 0;
}
h1 {
  position:absolute;
  top:0;
  left: 0;
  z-index: 100;
  border: 2px solid black;
  background-color: antiquewhite;
}
#main-window {
  z-index: -100;
  border: 2px solid black;

  background-image: url("./assets/space.gif");
  background-repeat:repeat;


  position:absolute;
  
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#player-object{
  position: absolute;

}




